.card {
    border: 1px solid gray;
    max-width: 500px;
    margin-bottom: 30px;
}

.info {
    padding: 10px 10px 15px 10px;
}

.info h2 {
    margin-bottom: 10px;
}

.info.only-title {
    padding: 10px;
}

.info.only-title h2 {
    margin-bottom: 0px;
}
