.form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 20px 0 30px;
    position: relative;
}

.form input {
    padding: 5px 10px;
    outline: none;
    border: 2px solid transparent;
    transition: border-color 0.2s ease;
    margin-bottom: 10px;
}

.form input:focus {
    border-color: lightblue;
}

.form input.input-error {
    border-color: red;
}

.form select {
    padding: 6px;
    margin-left: 5px;
    background-color: lightgray;
}

.price-container {
    display: flex;
}

.price-input {
    flex-grow: 1;
}

.price-select {
    flex-shrink: 0;
    max-height: 30px;
}
