/* Форма создания новой карточки автомобиля */
.form {

    /* Превращаем элемент во флекс-контейнер*/
    display: flex;

    /* Размещаем флекс-элементы в колонку */
    flex-direction: column;

    /* Максимальная ширина */
    max-width: 500px;

    /* Внешние отступы */
    margin: 20px 0 30px;
}

/* Поля ввода в форме */
.form input {

    /* Внутренние отступы */
    padding: 5px 10px;

    /* Убираем линию контура */
    outline: none;

    /* По-умолчанию добавляем прозрачную границу */
    border: 2px solid transparent;

    /* Реализуем плавный переход при изменении цвета границы */
    transition: border-color 0.2s ease;

    /* Внешний нижний отступ */
    margin-bottom: 10px;
}

/* Поле ввода в форме при фокусировке на ней курсора */
.form input:focus {

    /* Цвет границы */
    border-color: lightblue;
}
