/* Модульный компонент со стилями для домашней страницы */

/* Карточка в списке */
.item {

    /* Граница */
    border: 1px solid gray;

    /* Максимальная ширина */
    max-width: 500px;

    /* Внешний нижний отступ */
    margin-bottom: 30px;
}

/* Изображение */
.image {

    /* Изображение занимает всё доступное пространство */
    background-size: cover;

    /* Центрируем изображение */
    background-position: center;

    /* Не повторяем изображение */
    background-repeat: no-repeat;

    /* Размеры */
    width: 100%;
    height: 300px;
}

/* Блок с информацией */
.info {

    /* Внутренние отступы */
    padding: 10px;
}

/* Заголовок в блоке с информацией */
.info h2 {

    /* Внешний нижний отступ */
    margin-bottom: 10px;
}

/* Текст в блоке с информацией */
.info p {

    /* Внешний нижний отступ */
    margin-bottom: 10px;
}
