.item {
    border: 1px solid gray;
    max-width: 500px;
    margin-bottom: 30px;
}

.info {
    padding: 10px 10px 15px 10px;
}

.info h2 {
    margin-bottom: 10px;
}

.info a {
    margin-top: 15px;
}

.info.only-header {
    padding: 10px;
}

.info.only-header h2 {
    margin-bottom: 0px;
}
