/* Глобальные стили */

/* Все элементы */
* {

    /* Обнуляем отступы */
    margin: 0;
    padding: 0;
}

/* Тело сайта */
body {

    /* Цвет фона */
    background-color: #111;

    /* Цвет текста */
    color: #fff;

    /* Внутренние отступы */
    padding: 20px;

    /* Шрифт */
    font-family: 'Golos Text', sans-serif;
}

/* Заголовок */
h1 {

    /* Внешний нижний отступ */
    margin-bottom: 20px;
}

/* Кнопка */
.button {

    /* Внутренние отступы */
    padding: 7px;

    /* Отключаем границу и контур */
    border: none;
    outline: none;

    /* Закругление углов */
    border-radius: 3px;

    /* Цвет фона */
    background-color: lightgray;

    /* Плавный переход при изменении цвета фона */
    transition: background-color 0.2s ease;

    /* При наведении курсор превращается в указатель */
    cursor: pointer;

    /* Убираем декорирование текста */
    text-decoration: none;

    /* Цвет текста */
    color: black;

    /* Размер текста */
    font-size: 13px;
}

/* Кнопка при наведении курсора */
.button:hover {

    /* Цвет фона */
    background-color: lightblue;
}

/* Однострочная кнопка */
.button.one-line {

    /* Максимальная высота */
    max-height: 15px;
}

/* Кнопка удаления при наведении курсора */
.button.del-button:hover {

    /* Цвет фона */
    background-color: lightcoral;
}
