* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #111;
    color: #fff;
    padding: 20px;
    font-family: 'Golos Text', sans-serif;
}

h1 {
    margin-bottom: 20px;
}

/* BUTTON */

.button {
    padding: 7px;
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: lightgray;
    transition: background-color 0.2s ease;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.button:hover {
    background-color: lightblue;
}

.button.lightcoral {
    background-color: lightcoral;
}

.button.red-hover:hover {
    background-color: red;
}

.button.lightcoral-hover:hover {
    background-color: lightcoral;
}
